[project]
name = "rt"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "jax>=0.8.0",
    "matplotlib>=3.10.7",
]

[dependency-groups]
dev = [
    "ipykernel>=7.1.0",
]
